<div id="outsideNavigationPopup" class="outside-navigation-popup hidden">
    <div class="outside-navigation-popup-title">
        Localização fora da FACIM
    </div>

    <div class="outside-navigation-popup-text">
        Estás fora do recinto da FACIM.
        Queres mostrar a tua localização atual?
    </div>

    <div class="outside-navigation-popup-actions">

        <button id="showOutsideLocation" type="button" class="outside-location-show">
            Mostrar localização
        </button>

        <button id="closeOutsideLocation" type="button" class="outside-location-close">
            Fechar
        </button>

    </div>
</div>